.idea/
target/
build/
.metadata/
.gradle/
.settings/
.mvn/
logs/
log/
/node_modules/
*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
*.log
*.iml
*.ipr
*.iws
.classpath
.project
dependency-reduced-pom.xml
*.bak
